Repository downly-app/ollama.vip: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, typescript-check

rust-fmt:
  name: Rust Format
  entry: cargo fmt
  language: system
  args:
  - --manifest-path
  - src-tauri/Cargo.toml
  - --all
  - --
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy
  language: system
  args:
  - --manifest-path
  - src-tauri/Cargo.toml
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false

Release v1.0.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Update docs and build scripts
  .github/workflows/release.yml
  docs/zh/AI-Model.md
  docs/zh/API_IMPLEMENTATION_SUMMARY.md
  docs/zh/GITHUB_ACTIONS_CONFIG.md
  docs/zh/LOCAL_MODEL_FIXES.md
  docs/zh/LOCAL_MODEL_MANAGEMENT.md
  docs/zh/MODEL_DOWNLOAD_IMPROVEMENTS.md
  docs/zh/MULTI_ARCH_BUILD.md
  docs/zh/OLLAMA_CONFIG_MANAGEMENT.md
  docs/zh/SYSTEM_DASHBOARD_IMPROVEMENTS.md
  docs/zh/SYSTEM_MONITORING_IMPLEMENTATION.md
  docs/zh/SYSTEM_MONITORING_UPDATES.md
  docs/zh/UBUNTU22_COMPATIBILITY.md
Due: none

Add download management
  src/App.tsx
  src/components/DownloadProgress.tsx
  src/components/LocalModelManager.tsx
  src/components/ModelManager.tsx
  src/components/Toolbar.tsx
  src/components/dialogs/LocalModelInfoDialog.tsx
  src/hooks/useDownloadManager.ts
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/ja.json
  src/i18n/locales/ko.json
  src/i18n/locales/zh.json
  src/pages/Downloads.tsx
  src/pages/ModelDetail.tsx
  src/services/ollamaApi.ts
  src/stores/downloadStore.ts
  src/stores/modelStore.ts
Due: typescript-check

Optimize model management
  src/components/ModelManager.tsx
  src/components/dialogs/LocalModelInfoDialog.tsx
  src/components/ui/custom-select.tsx
  src/components/ui/dialog.tsx
  src/components/ui/pagination.tsx
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/ja.json
  src/i18n/locales/ko.json
  src/i18n/locales/zh.json
  src/pages/ModelDetail.tsx
  src/stores/modelStore.ts
Due: typescript-check

Optimized local model management
  src/components/DownloadProgress.tsx
  src/components/LocalModelManager.tsx
  src/components/ModelSelector.tsx
  src/components/dialogs/LocalModelInfoDialog.tsx
  src/components/ui/toast.tsx
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/ja.json
  src/i18n/locales/ko.json
  src/i18n/locales/zh.json
  src/pages/LocalModels.tsx
  src/pages/ModelDetail.tsx
Due: typescript-check

Optimized local model management
  docs/en/modelfile.md
  docs/zh/modelfile.md
  src/components/LocalModelManager.tsx
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/ja.json
  src/i18n/locales/ko.json
  src/i18n/locales/zh.json
  src/pages/Downloads.tsx
  src/stores/downloadStore.ts
  src/utils/modelUtils.ts
Due: typescript-check

ci: Optimize GitHub Actions release workflow configuration. docs:Optimize project documentation
  .github/workflows/release.yml
  LICENSE
  README.md
  docs/fr/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/zh/CODE_AUDIT_REPORT.md
  docs/zh/FRONTEND_ARCHITECTURE_OPTIMIZATION_REPORT.md
  docs/zh/LOCAL_MODEL_FIXES.md
  docs/zh/LOCAL_MODEL_MANAGEMENT.md
  docs/zh/OPTIMIZATION_REPORT.md
  docs/zh/PROJECT_OPTIMIZATION_FINAL_REPORT.md
  docs/zh/README.md
  docs/zh/SHORT_TERM_OPTIMIZATION_SUMMARY.md
  docs/zh/STAGE_FOUR_DEVELOPMENT_EXPERIENCE.md
  docs/zh/STAGE_THREE_STYLE_SYSTEM.md
  docs/zh/SYSTEM_DASHBOARD_IMPROVEMENTS.md
  docs/zh/SYSTEM_MONITORING_IMPLEMENTATION.md
  docs/zh/SYSTEM_MONITORING_UPDATES.md
  docs/zh/markdown-showcase.md
  eslint.config.js
  images/ollama.png
  scripts/release.ps1
  scripts/setup-ubuntu22-arm64.sh
  src-tauri/Cargo.toml
  src-tauri/src/config_manager.rs
  src-tauri/src/system_monitor.rs
  src/utils/performanceUtils.ts
Due: rust-fmt, rust-clippy, typescript-check

Optimize GitHub Actions release workflow configuration.
  .github/workflows/release.yml
  package-lock.json
  yarn.lock
Due: none

Release v1.0.0
  package.json
  src-tauri/Cargo.toml
  yarn.lock
Due: none

Fixed the issue that the release version cannot connect to Ollama
  .github/workflows/release.yml
  .gitignore
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/ollama_api.rs
  src/components/LocalModelManager.tsx
  src/components/dashboard/ModelOverview.tsx
  src/components/dashboard/OllamaServiceStatus.tsx
  src/components/dialogs/LocalModelInfoDialog.tsx
  src/index.css
  src/services/BaseService.ts
  src/services/aiApi.ts
  src/services/configApi.ts
  src/services/modelService.ts
  src/services/ollamaTauriApi.ts
  src/stores/downloadStore.ts
  src/styles/markdown.css
  src/styles/scrollbar-unified.css
  src/styles/utilities.css
  test/Cargo.toml
Due: rust-fmt, rust-clippy, typescript-check

Modify GitHub Actions to remove macOS X64 support
  .github/workflows/release.yml
  README.md
  docs/fr/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/zh/README.md
Due: none

Release v1.0.0
  src-tauri/Cargo.toml
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
